
@media (max-width: 601px) {
  .card {
    width: 42vw;
    height: 21vh;
    max-width: none;
    margin-bottom: 1.5%;
    margin-top: 2%;
  }
  
}




@media (min-width: 601px) {
  .card {
    width: 20vw; 
    height: 20vh; 
    max-width: 400px; 
  }
}


.option-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.option-icon {
  font-size: 5vh;
}


@media (min-width: 1080px) {
  .attendance-tracker {
    height: 20vh !important;
    margin-bottom: 1%;
    margin-left: 2.2%;
    margin-top: 3%;
    
    width: 50% !important;
    max-width: none !important; 
    
  }
  .desktop-layout {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
  }

  .working-days {
    /* padding-top: 1px !important; */
    height: 10vh !important;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 4%;
    /* width: 80% !important; */
    /* max-width: 600px !important; */
    width: 80% !important;/* Adjust this value as needed */
    max-width: none !important; /* This 
    /* max-width:100000000 px !important; */
  }
 
}



@keyframes fillAnimation {
  0% { stroke-dasharray: 0 100; }
  100% { stroke-dasharray: 100 0; }
}

.AttendanceTracker .SemiCircleProgressBar-path {
  animation: fillAnimation 10s ease-out forwards !important;
}

.AttendanceTracker .SemiCircleProgressBar-text {
  animation: fadeIn 10s ease-in-out !important;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.AttendanceTracker .SemiCircleProgressBar-path {
  stroke: #ff0000; 
}

.AttendanceTracker .SemiCircleProgressBar-path[data-percentage='40'] {
  stroke: #ffa500; 
}

.AttendanceTracker .SemiCircleProgressBar-path[data-percentage='75'] {
  stroke: #008000; 
}



.semi-circle-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top: 10px solid #3f51b5;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

