/* @media (max-width: 768px) {
    .ant-card-body {
      padding: 8px;
    }
    
    .ant-card {
      width: 95%;
    }
  
    h3 {
      font-size: 1rem;
    }
  
    .ant-table-small td {
      padding: 8px;
    }
  
    .ant-table-small th {
      padding: 8px;
    }
  }
   */
   @media (max-width: 767px) {
    .ant-table-content table {
      width: 100% !important; /* Set the desired width */
      font-size: 8px; /* Set the desired font size */
    }
  }
  @media (min-width: 768px) {
    .ant-table-content table {
      width: 100% !important; /* Set the desired width */
      font-size: 11px; /* Set the desired font size */
    }
  }