@media (max-width: 767px) {
  .ant-table-content table {
    width: 100% !important; 
    font-size: 10px; 
  }
}
@media (min-width: 768px) {
  .ant-table-content table {
    width: 100% !important; 
    font-size: 14px; 
  }
}